$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$title-font: 'Kaushan Script', sans-serif;
$main-color: #ffffff;
$secondary-color: #333333;
$secondary-light-color: #999999;
$primary-accent-color: #fce38a;
$secondary-accent-color: #f38181;
$footer-accent-color: #e5e5e5;
$box-shadow-color: #95e1d3;
$valid-form-color: #008000;
$invalid-form-color: #ff0000;
$placeholder-form-color: #cccccc;