.list-social {
    display: flex;
}

.list-social__item:not(:last-child) {
    margin-right: 0.1rem;
}

.list-social__link {
    @include center-flex('all');
    width: 5.6rem;
    height: 5.6rem;
    background-color: $primary-accent-color;
    background-repeat: no-repeat;
    transition: background-color 250ms linear;

    &:hover {
        background-color: $secondary-accent-color;
    }
}

.list-social__svg {
    width: 2.8rem;
    height: 2.8rem;
    fill: $secondary-accent-color;
    transition: fill 250ms linear;

    .list-social__link:hover & {
        fill: $main-color;
    }
}