.title {
    font-family: $title-font;
    font-size: 2.4rem;
    font-weight: 400;
    color: $secondary-color;
    text-align: center;
}

.title__item {
    display: block;
    font-family: $main-font;
    font-weight: 700;
    color: $secondary-color;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 1.8rem;

    &::after {
        display: block;
        margin: 4rem auto 0;
        content: "";
        height: 0.3rem;
        width: 6rem;
        background-color: $secondary-accent-color;
    }
}
